body {
    background-color: lightgray;
    background-image: url("../images/romaniacastel.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 50px;
    min-height: 100vh;
}

h1 {
    color: #F5F7F3;
    text-align: center;
}

.quiz-body {
    background-color: #E16F00;
    margin: auto;
    padding: 2px;
    width: 80%;
}

.hide {
    display: none;
}

#answer-btn {
    display: grid;
}

#correct-score {
    color: green;
}

#incorrect-score {
    color: red;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

.btn {
    background-color: #F1F6F6;

}

@media only screen and (max-width: 412px) {

    .btn {
        border-radius: 10px;
    }
}

@media only screen and (min-width: 412px) {
    .btn {
        border-radius: 15px 50px;
    }
}

@media only screen and (min-width: 768px) {
    .btn {
        border-radius: 15px 50px;
    }
}