body {
    background-color: lightgray;
    background-image: url("../images/romaniacastel.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 50px;
    min-height: 100vh;
}

.quiz-body {
    background-color: rgb(212, 20, 94);
    margin: auto;
    padding: 2px;
    width: 80%;
}